body {
    display: flex;
    flex-direction: column;
    font-size: 40px;
    font-family: 'Roboto';
    margin: 0px;
    background-color: #1F2937;   
}

@font-face {
    font-family: Roboto;
    src: url(fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: Roboto;
    src: url(fonts/Roboto-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: RobotoLightItalic;
    src: url(fonts/Roboto-LightItalic.ttf);
}

.space1 {
    flex-basis: 530px;
}

.space2 {
    background-color: white;
    flex-basis: 500px;
}

.space3 {
    background-color: #E5E7EB;
    flex-basis: 430px;
}

.space4 {
    background-color: white;
    flex-basis: 350px;
}

.footer {
    flex-basis: 100px;
}

.s1header {
    display: flex;
}

.header-logo {
    font-size: 24px;
    color: #F9FaF8;
    margin-right: auto;
}

ul {
    font-size: 18px;
    list-style: none;
    margin: 0px;
    display: flex;
}

.s1content {
    display: flex;
}

/* .s1leftc {

} */

.s1big {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 800;
}

.s1small {
    font-size: 18px;
    color: #E5E7EB;
}

.s1button {
    background-color: #3882F6;
    border-radius: 5px;
    border: 0px;
}

.s1image {
    width: 500px;
}

.movies {
    display: flex;
}

.movie-poster {
    width: 150px;
    border: 5px solid #3882F6;
    border-radius: 5px;
}

.movie-desc {
    color: #6d7580;
    font-size: 18px;
}

.s3quote {
    color: #1F2937;
    font-size: 36px;
    font-family: RobotoLightItalic;
}

.s3quote-author {
    font-size: 24px;
    margin: 0px;
}

.header-links {
    text-decoration: none;
    color: #E5E7EB;
}